@inherits LayoutComponentBase

@implements IDisposable
@inject NavigationManager NavigationManager


<div class="page">
    <main>
        <AuthorizeView> <!-- So only logged in users can see the navbar options  -->
            <Authorized>
                <header class="navbar py-1 top-row ">
                    <div class="navbar navbar-dark">
                        <a class="navbar-brand fs-4" style="vertical-align: middle;" href="/">
                            <img src="./favicon.png"  width="32px" height="32px" />
                            <span>Umbler Bank</span></a>
                        
                    </div>

                    <div id="userDropdown" class="dropdown">
                        <button class="btn text-white btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill-nav-menu" aria-hidden="true"></i>
                            <span>
                                @context.User.Identity?.Name
                            </span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/">Home</a>
                            <a class="dropdown-item" href="/Account/Manage">Account data</a>

                            <a class="dropdown-item" href="/Transations">Transactions history</a>

                            <div class="dropdown-divider"></div>
                            <form action="Account/Logout" class="text-center" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@(currentUrl)" />
                                <button type="submit" class="btn btn-danger btn ">
                                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                </button>
                            </form>

                        </div>
                        
                    </div>
                </header>
            </Authorized>
        </AuthorizeView>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
