@page "/Account/TransferKeys"

@attribute [Authorize]
@rendermode InteractiveServer

@using UmbraChallenge.Data.Services
@using UmbraChallenge.Data.Models
@using UmbraChallenge.Components.Shared

@inject IUserDatabaseService UserService;

@code {
    public ApplicationUser? loggedUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loggedUser = await UserService.GetCurrentAuthUser();
        if (loggedUser != null) {
            ICollection<UserTransferKey> userKeys = await UserService.GetUserTransferKeys(loggedUser);
            loggedUser.UserKeysList = userKeys;
        }
        
    }

}

<section class="container">

    <nav class="navbar mb-2 px-2 shadow-sm border-1 border rounded-1 d-flex justify-content-between">
        <div class="nav-item">
            <h1 class="text-primary fs-4 align-middle">Configure your transfer keys</h1>
        </div>

        <div class="nav-item">
            <a href="/" class="btn btn-outline-primary">Make transfer</a>
            <a href="/Account/AddKey" class="btn btn-primary">Add key</a>
        </div>
    </nav>

    @if (loggedUser != null)
    {
        @if (loggedUser?.UserKeysList.Count == 0)
        {
            <div class="alert alert-warning">
                <strong>You dont have any keys configured</strong>
                <main>
                    You will need to register one if you want to receive payments.
                </main>
            </div>
        }
        else
        {
            @foreach (UserTransferKey key in loggedUser.UserKeysList)
            {
                <section>
                    <TransferKeyCard loggedUser=@(loggedUser) transferKey=@(key) />
                </section>
            }
        }
    }


</section>



