@page "/Account/TransferKeys"

@using UmbraChallenge.Data.Services
@using UmbraChallenge.Data.Models

@inject IApplicationUserService UserService;

@code{

}

<section class="container" >
    <h1>Configure your transfer keys</h1>
</section>
<h1> Configure Transfer Keys </h1>

