@inherits LayoutComponentBase
@layout AccountLayout



<div>
    <h1 class="fs-2">Configure your account</h1>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
