@attribute [Authorize]

@page "/"

<AuthorizeView>
    <Authorized>

        <h1 class="fs-3">Hello, <span class="text-info">@context.User.Identity?.Name</span></h1>

        <div class="row">
            <div class="col-3">
                <input class="form-control" readonly value="@(userBalance)" type="@(showingBalance)"/>
                <span><button @onclick="toggleShowingBalance" >Toggle</button></span>
            </div>  
        </div>
        



    </Authorized>
</AuthorizeView>
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



@code {
    public string userBalance {get; set;} = "123";
    public string showingBalance = "text";

    public void toggleShowingBalance() {
        showingBalance = showingBalance == "text" ? "password" : "text";
    }


}
