@using UmbraChallenge.Components.Shared
@using UmbraChallenge.Data.Models
@using UmbraChallenge.Data.Services
@using UmbraChallenge.Data
@using UmbraChallenge.Models

@attribute [Authorize]
@page "/Transations"

@inject IUserDatabaseService userServices;

@code {
    public ApplicationUser? loggedUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loggedUser = await userServices.GetCurrentAuthUser();
        if (loggedUser != null) {
            ICollection<Transaction> userTransations = await userServices.GetUserTransactions(loggedUser);
            loggedUser.TransactionsList = userTransations;
        }
    }

    public required ICollection<Transaction> transactionsHistory { get; set; } = [];
}

<AuthorizeView>
    <Authorized>

        <div class="container text-center">
            <h2>@context.User.Identity.Name transactions history</h2>

            <div class="row justify-content-center">
                
                @if (transactionsHistory.Count < 0) {
                    @foreach (Transaction transaction in transactionsHistory) {
                        <div>
                            <TransactionCard transaction=transaction />
                        </div>
                    }

                } else {
                    <div class="fw-bold card border-2 shadow-sm" style="max-width: 420px;">
                        <div class="card-body">
                            <p class="card-text">
                                This account has not made any trasferences.
                            </p>
                            <a href="/" class="btn btn-primary">
                                Main page
                            </a>
                        </div>
                        
                    </div>
                    
                }

            </div>
        </div>
    </Authorized>
</AuthorizeView>
